@model IList<Calculator>

@{
    ViewData["Title"] = "Index";
}

<h1>Perfect Seed Calculator</h1>

<div class="container p-3">
    <div class="row p-0">
        <div class="col-4">
            <div class="d-flex align-items-center">
                <!-- Button "Add next Seed" -->
                <form asp-controller="Calculator" asp-action="Index" method="post" class="d-flex align-items-center">
                    <button type="submit" class="btn btn-primary" style="width: 180px">
                        <i class="bi bi-database-add"></i>&nbsp; Add next Seed
                    </button>
                    <input asp-for="@Model.First().Seed" class="form-control" placeholder="Enter Seed" style="width: 110px" />
                </form>
            </div>
        </div>
        <div class="col-8">
            <div class="d-flex align-items-center">
                <!-- Button "Calculate" -->
                <form asp-controller="Calculator" asp-action="Calculate" method="post" >
                    <button type="submit" class="btn btn-primary" style="width: 140px">
                        <i class="bi bi-calculator"></i>&nbsp; Calculate
                    </button>
                </form>

                <!-- Button "Delete" -->
                <form asp-controller="Calculator" asp-action="Delete" method="post">
                    <button type="submit" class="btn btn-primary" style="width: 200px">
                        <i class="bi bi-trash3"></i>&nbsp; Delete all seeds
                    </button>
                </form>
            </div>
        </div>
    </div>
    <br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <th>
            Seed Id
        </th>
        <th>
            Your Seeds
        </th>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Id
                </td>
                <td width="50%">
                    @obj.Seed
                </td>
            </tr>
        }
    </tbody>
</table>
</div>