@model IList<Seed>

@{
    ViewData["Title"] = "Index";
}

<h1>Perfect Seed Calculator</h1>

<div class="container p-3">
    <div class="row p-0">
        <div class="col-5">
            <div class="d-flex align-items-center">
              
                <!-- Button "Add next Seed" -->
                <form asp-controller="Calculator" asp-action="AddNextSeed" method="post" class="d-flex align-items-center">
                    <div class="input-group">
                        <button type="submit" class="btn btn-primary" style="width: 180px">
                            <i class="bi bi-database-add"></i>&nbsp; Add next Seed
                        </button>
                        <input type="text" name="Seed" class="form-control" placeholder="Enter Seed" style="width: 125px" required />
                    </div>
                </form>

            </div>
        </div>
        <div class="col-7">
            <div class="d-flex align-items-center">
               
                <!-- Button "Calculate" -->
                <form asp-controller="Calculator" asp-action="Calculate" method="post" >
                    <input type="hidden" name="calculators" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" />
                    <button type="submit" class="btn btn-primary" style="width: 140px">
                        <i class="bi bi-calculator"></i>&nbsp; Calculate
                    </button>
                </form>

                <!-- Button "DeleteAll" -->
                <form asp-controller="Calculator" asp-action="DeleteAll" method="post">
                    <input type="hidden" name="calculators" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" />
                    <button type="submit" class="btn btn-primary" style="width: 200px">
                        <i class="bi bi-trash3"></i>&nbsp; Delete all seeds
                    </button>
                </form>

            </div>
        </div>
    </div>
    <br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <th>
            Your Seeds
        </th>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="30%">
                    @obj.SeedSequence
                    
                    <!-- Button "DeleteOneSeed" -->
                    <form asp-controller="Calculator" asp-action="DeleteOneSeed" method="post">
                        <input type="hidden" name="obj" value="@Newtonsoft.Json.JsonConvert.SerializeObject(obj)" />
                        <button type="submit" class="btn btn-primary" style="width: 25px; height: 45px; margin: 0 auto;">
                            <i class="bi bi-trash3"></i>&nbsp;
                        </button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
</div>